In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
subject_number = 'Subject Number'
age = 'Age (Years)'
gender = 'Gender'
height = 'Reported Height (cm)'
weight = 'Reported Weight (kg)'
shoe_size = 'Shoe Size NL'
pants_size='Pants Size Waist'
#measurements
waist = 'Waist Circumference, Pref (mm)'
neck='Neck Base Circumference (mm)'
hip= 'Hip Circumference, Maximum (mm)'
chest='Chest Circumference (mm)'
crotch_height='Crotch Height (mm)'
shoe_size_italy="Shoe Size IT"

In [3]:
demographic=[subject_number,gender,age, height, weight, shoe_size,pants_size]
mearuments=[subject_number,waist,neck,chest,hip,crotch_height]
italy_demographic=[subject_number,gender,age, height, weight, shoe_size_italy,pants_size]
demographic_path = "./dutch/demographic_metric.csv"
measurement_path = "./dutch/measurement_metric.csv"
M_data=pd.read_csv(measurement_path,skipinitialspace=True)

In [4]:
italy_demographic_path="./italy/ItalyDemographics_csv.csv"
italy_measurement_path="./italy/ItalyMeasurements_csv.csv"

In [5]:
demographic_data=pd.read_csv(demographic_path,skipinitialspace=True,usecols=demographic)
measurement_data=pd.read_csv(measurement_path,skipinitialspace=True,usecols=mearuments)
measurement_data=measurement_data[[subject_number,waist,chest,neck,hip,crotch_height]]
demographic_data=demographic_data.loc[demographic_data[gender]=='Male'] #shape  Male (567,6) Female (700,6)

data = demographic_data.merge(measurement_data, on=subject_number, how='left') #shape (567, *)

# data = data.drop(subject_number, axis=1)

data=data.drop(gender,axis=1)

In [6]:
data.head()

,Subject Number,Age (Years),Reported Height (cm),Reported Weight (kg),Shoe Size NL,Pants Size Waist,"Waist Circumference, Pref (mm)",Chest Circumference (mm),Neck Base Circumference (mm),"Hip Circumference, Maximum (mm)",Crotch Height (mm)
0,11012,24,206.00,110.00,47,36,916.0,1004.0,506.0,1091.0,1005.0
1,11024,32,184.00,100.00,45,34,867.0,1099.0,482.0,1090.0,890.0
2,11025,56,187.00,82.00,44,33,886.0,983.0,492.0,966.0,856.0
3,11029,60,178.00,98.00,43,38,1036.0,1153.0,500.0,1056.0,797.0
4,11033,33,184.00,85.00,43,34,930.0,1021.0,575.0,NaN,831.0

ITALY data merge / ALL MALES

In [7]:

italy_demographic_data=pd.read_csv(italy_demographic_path,skipinitialspace=True,usecols=italy_demographic)
italy_measurement_data=pd.read_csv(italy_measurement_path,skipinitialspace=True,usecols=mearuments)
italy_measurement_data=italy_measurement_data[[subject_number,waist,chest,neck,hip,crotch_height]]
italy_demographic_data=italy_demographic_data.loc[italy_demographic_data[gender]=='Male'] 

italy_demographic_data.columns=[subject_number,age,gender,height,weight,shoe_size,pants_size]
italy_data=italy_demographic_data.merge(italy_measurement_data,on=subject_number,how='left')

#italy_data=italy_data.drop(subject_number,axis=1)
italy_data=italy_data.drop(gender,axis=1)
italy_data.head()

,Subject Number,Age (Years),Reported Height (cm),Reported Weight (kg),Shoe Size NL,Pants Size Waist,"Waist Circumference, Pref (mm)",Chest Circumference (mm),Neck Base Circumference (mm),"Hip Circumference, Maximum (mm)",Crotch Height (mm)
0,4000,30.5,172.0,72.0,41.0,Don't Know,826.0,965.0,490.0,930.0,794.0
1,4001,30.3,175.0,72.0,42.0,Don't Know,814.0,936.0,478.0,967.0,797.0
2,4004,18.1,179.0,67.0,41.0,35.4,787.0,917.0,470.0,940.0,849.0
3,4007,38.0,178.0,76.0,41.5,Don't Know,888.0,1050.0,505.0,1002.0,808.0
4,4011,18.5,173.0,71.0,43.0,29.5 or Smaller,786.0,967.0,504.0,888.0,752.0

In [8]:
print(italy_data.shape)
print(data.shape)

(413, 11)
(567, 11)

In [9]:
data[height]

0      206.00
1      184.00
2      187.00
3      178.00
4      184.00
        ...
562    169.00
563    180.00
564    180.00
565    193.00
566    180.00
Name: Reported Height (cm), Length: 567, dtype: object

italy shape( 801,9)
dutch shape(567,9)

In [10]:
data.dropna(axis=0,how='any',inplace=True) # shape (564,*)
data=data[data[height].str.contains("No Response")==False]
data = data[data[weight].str.contains("No Response") == False]
data = data[data[shoe_size].str.contains("No Response") == False]
total_features=data.shape[1]-1

In [11]:
data = data[data[pants_size].str.contains("No Response") == False]

In [12]:
print(italy_data[weight].dtype)
print(data[weight].dtype)

float64
object

In [13]:
italy_data=italy_data[italy_data[shoe_size].str.contains("44 or Larger|35 or Smaller")==False]
italy_data=italy_data[italy_data[pants_size].str.contains("Don't Know|29.5 or Smaller|63 or Larger")==False]
italy_data = italy_data[italy_data[pants_size].str.contains("No Response") == False]
data.dropna(axis=0,how='any',inplace=True)

In [14]:
italy_data[shoe_size]=pd.to_numeric(italy_data[shoe_size])
italy_data[pants_size]=pd.to_numeric(italy_data[pants_size])
italy_data.dtypes
print(data.dtypes)

Subject Number                       int64
Age (Years)                          int64
Reported Height (cm)                object
Reported Weight (kg)                object
Shoe Size NL                        object
Pants Size Waist                    object
Waist Circumference, Pref (mm)     float64
Chest Circumference (mm)           float64
Neck Base Circumference (mm)       float64
Hip Circumference, Maximum (mm)    float64
Crotch Height (mm)                 float64
dtype: object

In [15]:
features = data.columns.tolist()

target = features[-5:] #get last column

    #features = list(set(features) - set([target]))
features = features[:-5]
data[height] = pd.to_numeric(data[height])
data[weight]=pd.to_numeric(data[weight])
data[shoe_size]=pd.to_numeric(data[shoe_size])
data[pants_size]=pd.to_numeric(data[shoe_size])

In [16]:
italy_data.head()

,Subject Number,Age (Years),Reported Height (cm),Reported Weight (kg),Shoe Size NL,Pants Size Waist,"Waist Circumference, Pref (mm)",Chest Circumference (mm),Neck Base Circumference (mm),"Hip Circumference, Maximum (mm)",Crotch Height (mm)
2,4004,18.1,179.0,67.0,41.0,35.4,787.0,917.0,470.0,940.0,849.0
5,4018,46.8,169.0,74.0,41.0,31.5,908.0,976.0,503.0,996.0,778.0
8,4025,36.4,168.0,66.0,40.0,33.5,791.0,946.0,483.0,938.0,746.0
9,4026,36.5,186.0,82.0,42.0,31.5,851.0,991.0,480.0,977.0,867.0
10,4027,27.0,178.0,74.0,43.0,31.5,832.0,932.0,500.0,986.0,785.0

In [17]:
# print(data.shape)
# frames=[data,italy_data]
# result=pd.concat(frames)
# print(italy_data.shape)

In [18]:
result

NameError: name 'result' is not defined

In [19]:
data[waist]=data[waist]/25.4#convert to inches

In [20]:
print(data[pants_size])

0      47.0
1      45.0
2      44.0
3      43.0
8      44.0
       ...
560    43.0
561    42.0
564    42.0
565    44.5
566    42.0
Name: Pants Size Waist, Length: 390, dtype: float64

In [21]:
%load_ext tensorboard

In [ ]:
import tensorflow as tf

In [ ]:

from cProfile import label
plt.figure(figsize=(10,10))

X=data[pants_size]
Y=data[waist]
plt.plot(X,label="Reported Waist",alpha=0.5)
plt.plot(Y,label="Measured Waist",alpha=0.5)
plt.legend()
plt.show()

In [ ]:
demographic_data.head()

In [ ]:

plt.figure(figsize=(15,15))
sns.heatmap(X.corr(),annot=True,cmap='RdYlGn',linewidths=2,linecolor='orange',annot_kws={'size':8,'color':'black'},fmt='.4f',square=True)

In [ ]:

plt.figure(figsize=(15,15))
sns.heatmap(y.corr(),annot=True,cmap='RdYlGn',linewidths=2,linecolor='orange',annot_kws={'size':8,'color':'black'},fmt='.4f',square=True)

In [ ]:
plt.figure(figsize=(15,15))
sns.heatmap(data.corr(),annot=True,cmap='RdYlGn',linewidths=2,linecolor='orange',annot_kws={'size':8,'color':'black'},fmt='.4f',square=True)

In [ ]:
data.shape

In [ ]:
sns.pairplot(data)

In [ ]:
import numpy as np  #np is shortcut of numpy

#Syntax : np.random.randint(the range for ex if you choose 100 then your array elements will be within the range 0 to 100, size = (row size, col size)

a = np.random.randint(100, size = (10,5)) #a is a variable(object)
print(a)

In [ ]:
a[:,0]